body {
  background-image: url("background.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;  
  background-size: 100% 100%;
  margin: 50px;
  padding: 10px;
  text-align: center;
  word-wrap: break-word;
  position: relative;
  z-index:1;    
}

.avatar {
  border-radius: 45%;
}

#booksname {
  font-size: 20px;
}

.ther {
  position: relative;
  text-align: justify;
  white-space: pre-line;
  margin: 5px 30%;
}

article {
  color: #666;
  font-family:  "Times", Lucida , sans-serif ;
}

.content {
  font-size: 20px;
  position: relative;
  text-align: justify;
  white-space: pre-line;
}

ul.list {
  list-style-type: none;
  margin-left: -40px;
}

ul.navv {
  display: inline-block;
  text-align: center;
  font-size: 25px;
  list-style-type: none;
  margin: 20px;
  padding: 20px;
  overflow: hidden;
  border: 1px solid #e7e7e7;
  background-color: rgb(200,200,200);
}

ul.navv li {
  float: left;
}

ul.navv li a {
  display: block;
  color: rgb(90,90,90);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

ul.navv li a:hover {
  background-color: #ddd;
  color: rgb(18, 125, 16);
}

a {
  text-decoration: none;
}

th {
  padding: 10px;
  color: white;
}

th a:visited {
  color: white;
  text-decoration: none;
}

th a:hover {
  color: rgb(155, 232, 153);
}

@media (min-width: 700px) {
  body {
    color: white;
  }
  article {
    background-color: rgb(250,250,250);
    padding: 30px 100px;
  }
}

@media (max-width: 699px) {
  article {
    background-color: rgb(213, 247, 236);
    padding: 0px 20px;
  }
}
